{% extends 'base.html.twig' %}

{% block title %}Hola mundo!!!
{% endblock %}

{% block body %}
	<header>
		<h1>Las caras Juan</h1>
	</header>
	<footer>
		<p>
			<small>Las caras</small>
		</p>
	</footer>
{% endblock %}
